.logo-base {
    width: 200px;
    height: 200px;
}

.form-item-base {
    width: 300px;
    height: 40px;
}

.form-button-base {
    width: 110px;
    height: 40px;
    background: rgba(2, 117, 216, 0.93);
    border: 1px solid #3A9DF3;
    box-sizing: border-box;
    border-radius: 4px;


    &:hover {
        background: #3A9DF3;
    }
}

.menu-base {
    background-color: #FFFFFF;
}

.back-go-button-size {

    height: 34px;
    width: 34px;
}