.logo-base {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

.form-item-base {
    width: 300px;
    height: 40px;
}

.form-button-base {
    width: 110px;
    background: #43A1F3;
    border-color: azure;
    height: 40px;



    &:hover {
        background: #b4191b;
    }
}

.menu-base {
    background-color: #FFFFFF;
}
