.logo-base {
    width: 200px;
    height: 200px;
}

.form-item-base {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 7px;
}

.form-button-base {
    width: 110px;
    height: 40px;
    background: rgba(2, 117, 216, 0.93);
    border: 1px solid #3A9DF3;
    box-sizing: border-box;
    border-radius: 4px;


    &:hover {
        background: #3A9DF3;
    }
}

.form-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.54);
}

.menu-base {
    background-color: #FFFFFF;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;  
}

.back-go-button-size {

    height: 34px;
    width: 34px;
}

.base-book-marker {
    position: relative;
    margin-left:auto; 
    margin-right:0;  
}

.base-plus-button {
    text-align: center;
  
    #circle:hover {
        fill:  #C4C4C4;
      }
}