.onHover {
    cursor: pointer;
    transition: color 0.3s;
    :hover{
        color: blue;
    }
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    @extend .onHover;
}

.ant-menu-item a {
    color: white;
}

@import '../../../global/design/tools.scss';

.logo {

    width: 200px;

    @extend .logo-base
}

.header {
    background-color: white;

}
.header-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;


  }

  .header-div:first-child {
   margin-left: 50px;
  }
  .header-div:last-child{
    margin-right: 130px;
   }

   .arrow-icon {
    transform:  rotate(-90deg);
   }

   .header-element {
       width: 200px;
       height: 50px;
       font-size: 20px;
       color: #000000;

   }
.user-icon{
    @extend .onHover
}
