@import '../../global/design/tools.scss';

.card {

    border: 2px solid rgba(196,196,196, 0.5)  !important;
    box-sizing: border-box  !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.49) !important;
    border-radius: 2px !important;
    width: 500px;
    margin: 0 auto;


    .card-content{

        .book-marker {
        
            @extend .base-book-marker;
            top:-28px;
                     
        }
    }


    .card-item{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 40px;
        margin-left: 20px;
      
            div + div {
                margin-top: 20px;
                
            }
        
    }
    .update-button {
        position: relative;
        bottom: 0px;
        left: 300px;
        color: white;
        @extend .form-button-base
    }
}
.add-user-info-card{

   
    width: 70vh;
    align-items: center;

    .card-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto; 
        

        .text-field {
            width: 350px;
            @extend .center;
            margin-top: 40px;
        }

     

        .text-field + .text-field{
            margin-top: 30px;
        }
    }
    .plus-button{
        @extend .center;
        margin-top: 20px;
    }



}

